.holder{
    display: flex;
	
    background-color: blue;
    justify-content: center;
     align-items: center;
  width: 100vw; 
  height: 100vh;
}
.item-1{
    background-color: red;
    height: 100px;
    width: 100px;
	display: flex;
}
/* Your CSS Code here. */